AulasWCF/EscolaClient/Service References/EscolaService/NotasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotasService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_INotasService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4232/NotasService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4232/NotasService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4232/NotasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EscolaEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotasService_GetDisciplinas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDisciplinas" />
  </wsdl:message>
  <wsdl:message name="INotasService_GetDisciplinas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDisciplinasResponse" />
  </wsdl:message>
  <wsdl:message name="INotasService_GetAlunos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlunos" />
  </wsdl:message>
  <wsdl:message name="INotasService_GetAlunos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlunosResponse" />
  </wsdl:message>
  <wsdl:message name="INotasService_EnviarNotas_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotas" />
  </wsdl:message>
  <wsdl:message name="INotasService_EnviarNotas_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotasResponse" />
  </wsdl:message>
  <wsdl:portType name="INotasService">
    <wsdl:operation name="GetDisciplinas">
      <wsdl:input wsaw:Action="http://tempuri.org/INotasService/GetDisciplinas" message="tns:INotasService_GetDisciplinas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotasService/GetDisciplinasResponse" message="tns:INotasService_GetDisciplinas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlunos">
      <wsdl:input wsaw:Action="http://tempuri.org/INotasService/GetAlunos" message="tns:INotasService_GetAlunos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotasService/GetAlunosResponse" message="tns:INotasService_GetAlunos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNotas">
      <wsdl:input wsaw:Action="http://tempuri.org/INotasService/EnviarNotas" message="tns:INotasService_EnviarNotas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotasService/EnviarNotasResponse" message="tns:INotasService_EnviarNotas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotasService" type="tns:INotasService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDisciplinas">
      <soap:operation soapAction="http://tempuri.org/INotasService/GetDisciplinas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlunos">
      <soap:operation soapAction="http://tempuri.org/INotasService/GetAlunos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNotas">
      <soap:operation soapAction="http://tempuri.org/INotasService/EnviarNotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_INotasService" type="tns:INotasService">
    <wsp:PolicyReference URI="#WSHttpBinding_INotasService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDisciplinas">
      <soap12:operation soapAction="http://tempuri.org/INotasService/GetDisciplinas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlunos">
      <soap12:operation soapAction="http://tempuri.org/INotasService/GetAlunos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNotas">
      <soap12:operation soapAction="http://tempuri.org/INotasService/EnviarNotas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotasService">
    <wsdl:port name="BasicHttpBinding_INotasService" binding="tns:BasicHttpBinding_INotasService">
      <soap:address location="http://localhost:4232/NotasService.svc/Escola" />
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_INotasService" binding="tns:WSHttpBinding_INotasService">
      <soap12:address location="http://localhost:4232/NotasService.svc/ws" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:4232/NotasService.svc/ws</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>