AulasWCF/EscolaClient/Service References/EscolaService/NotasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4232/NotasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EscolaEntities" />
  <xs:element name="GetDisciplinas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisciplinasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EscolaEntities" minOccurs="0" name="GetDisciplinasResult" nillable="true" type="q1:ArrayOfDisciplina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlunos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlunosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EscolaEntities" minOccurs="0" name="GetAlunosResult" nillable="true" type="q2:ArrayOfAluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EscolaEntities" minOccurs="0" name="nota" nillable="true" type="q3:Nota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>