AulasWCF_SegurancaInternet/EscolaClient/Service References/EscolaServiceAdmin/NotasServiceAdmin31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EscolaEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EscolaEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Nota">
    <xs:sequence>
      <xs:element name="AlunoId" type="xs:int" />
      <xs:element name="DisciplinaId" type="xs:int" />
      <xs:element name="Pontos" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nota" nillable="true" type="tns:Nota" />
</xs:schema>