AulasWCF_2/EscolaClient/Service References/EscolaService/NotasService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EscolaService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EscolaService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErroProcessamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Messagem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErroProcessamento" nillable="true" type="tns:ErroProcessamento" />
</xs:schema>